[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/"
verify_ssl = true

[packages]
torch = {index = "pytorch"}
torchvision = {index = "pytorch"}
torchaudio = {index = "pytorch"}
jupyter = "*"
pandas = "*"
matplotlib = "*"
ipympl = "*"

[dev-packages]
alpaca-trade-api = "*"

[requires]
python_version = "3.9"
